body{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 60px;
    height: 60px;
    border: 2px solid grey;
    margin: .25rem;
    font-size: 2.25rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

input:disabled{
    background: grey;
}

.row{
    display: flex;
}
 
.correct-input{
    background: #77dd77 !important;
    color: white;
    border: none;
}

.neutral-input{
    background: #ffda89 !important;
    color: white;
    border: none;
}

.wrong-input{
    background: #c5c6c8 !important;
    color: white;
    border: none;
}