.contact-main,
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

input, textarea{
    padding: 1rem 0;
    margin: 1rem 1rem .25rem;
    min-width: 550px;
}

textarea{
    resize: none;
}