input{
    text-transform: uppercase;
    font-size: 2rem;
    caret-color: transparent;
    background-color: rgb(189, 189, 189);
    text-align: center;
}

.modal-name{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.modal-name input{
    padding: 1rem;
    margin: 1rem;
}

.row input{
    width: 65px;
    height: 65px;
    border: 2px solid var(--default-color);
    margin: .25rem;
    font-weight: bolder;
}
 
input:focus{
    outline: none;
    background-color: rgb(255, 255, 255);
}


.row input:disabled{
    background: var(--default-color);
}

.row{
    display: flex;
}

.done{
    color: white;
    border: none;
    animation-name: resultAnimation !important;
    animation-duration: .5s !important;
}

.correct-input{
    background: var(--success-color) !important;
}

.neutral-input{
    background: var(--neutral-color) !important;
}

.wrong-input{
    background: var(--wrong-color) !important;
}

.bounce{
    animation: bounceAnimation .25s;
}

@keyframes bounceAnimation {
    50% {transform: scale(1.2);}
    100%{transform: scale(1);}
}

@keyframes resultAnimation {
    50% {transform: scaleY(0);}
    100%{transform: rotateX(1);}
}