.modal-name{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.modal-name input{
    padding: 1rem 0;
    margin: 1rem 1rem .25rem;
}

.row input{
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border: 2px solid var(--default-color);
    margin: .25rem;
    font-weight: bolder;
}

.row input:disabled{
    background: var(--default-color);
}

.row{
    display: flex;
}

.done{
    color: white;
    border: none;
    animation-name: resultAnimation !important;
    animation-duration: .5s !important;
}

.correct-input{
    background: var(--success-color) !important;
}

.neutral-input{
    background: var(--neutral-color) !important;
}

.wrong-input{
    background: var(--wrong-color) !important;
}

.bounce{
    animation: bounceAnimation .25s;
}

#cronometro{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2rem;
    z-index: 100;
}

@keyframes bounceAnimation {
    50% {transform: scale(1.2);}
    100%{transform: scale(1);}
}

@keyframes resultAnimation {
    50% {transform: scaleY(0);}
    100%{transform: rotateX(1);}
}

@media only screen and (min-width: 768px){
    .row input{
        width: 65px;
        height: 65px;
        font-size: 2rem;
    }
}