.bounce{
    animation: bounceAnimation 3s infinite ease-in-out;
}

.btn-container{
    text-align: center;
}

@keyframes bounceAnimation {
    50% {transform: scale(1.2);}
    100%{transform: scale(1);}
}