.modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2rem;
    overflow: auto;
    background-color: var(--defeat-color);
    padding: 1rem;
    justify-content: center;
    animation-name: animatetop;
    animation-duration: 0.5s;
    min-width: fit-content;
}

.encabezado-modal{
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: bold;
}

.win{
    background-color: var(--success-color);
}

@keyframes animatetop{
    from {top: -100px; opacity: 0}
    to {top: 10%; opacity: 1}
}

@media only screen and (min-width: 768px){
    .modal{
        max-width: 25%;
        border-radius: 10px;
        margin-top: 3rem;
    }
}