table {
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    max-width: 100%;
    white-space: nowrap;
    background-color: rgb(23, 23, 23);
}

table td, table th {
    text-align: center;
    padding: 1.25rem;
}

table td, table th {
    border-right: 1px solid var(--main-color-hover);
}

table td:last-child, 
table th:last-child{
    border-right: none;
}

table th {
    font-weight: bold;
}

table tr:nth-child(even) {
    background: #313131;
}

table tr:not(:first-child):hover {
    cursor: pointer;
    transition: all 0.25s ease-out;
    filter: brightness(0.75);
}

.exit-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
}

.exit-icon:hover{
    cursor: pointer;
}

.modal-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 2rem;
    background-color: var(--background-color-lighter);
    border-radius: 4px;
}

.modal-content h1{
    margin-bottom: 1rem;
}

.win{
    background: var(--success-color) !important;
    border-bottom: 1px solid var(--background-color-lighter);
}

.lose{
    background: var(--defeat-color) !important;
    border-bottom: 1px solid var(--background-color-lighter);
}

.scores-modal table th:hover{
    cursor: pointer;
    background-color: var(--background-color-lighter);
    transition: all 0.25s ease-out;
}